<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Class Central </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->  
    {% stylesheets
        '@ClassCentralStaticBundle/Resources/public/css/*'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
  </head>

  <body>
          
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Class Central</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>           
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      {%  block content %}   
      <hr /><hr />
      {% endblock %}  
      <footer>
          {% block footer %}
               <p>Class Central </p>
          {% endblock %}
      </footer>

    </div> <!-- /container -->

  </body>
</html>
