{% extends 'ClassCentralSiteBundle::base.html.twig' %}
{% block customJS %}    
     var textExtractor = function(node){ 
        timestamp = node.getAttributeNode("data-timestamp");                      
        if( timestamp != undefined ){  
            
            return timestamp.value;
        }
        else{
            return node.childNodes[0].innerHTML;
        }        
     }
     $(document).ready(function() 
    {                 
        $("#ongoing").tablesorter( {textExtraction: textExtractor}); 
        $("#upcoming").tablesorter({textExtraction: textExtractor} );
    } 
    ); 
{% endblock %}
   
    
{%  block content %}
<div class="hero-unit">
    <h1>Class Central</h1>
    <p>Summary of Stanford's online course offerings</p>
    <!-- <p><a class="btn primary large">Learn more &raquo;</a></p> -->
    <p>
        <span class="label notice">Quick Stats</span> <span class="label success">{{stats.courses }} Courses</span>  <span class="label success">{{stats.instructors }} Faculty/Instructors</span> 
    </p>
</div>

    


<h1>Upcoming courses ({{ upcoming|length }})</h1> 	  
{% include 'ClassCentralSiteBundle:Default:courses.table.html.twig' with{'offerings':upcoming, 'tableId':'upcoming'} %}

<h1>Ongoing courses ({{ ongoing|length }})</h1> 	  
{% include 'ClassCentralSiteBundle:Default:courses.table.html.twig' with{'offerings':ongoing,'tableId':'ongoing'} %}

{% endblock %}  