{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{%  block content %}
<h1>Instructor creation</h1>

<form action="{{ path('instructor_create') }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
      <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('instructor') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}  
