{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block content %}
<h1>Stream creation</h1>

<form action="{{ path('stream_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('stream') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}