body {
    padding-top: 60px;
}

footer p{
    text-align: center;  
    vertical-align: bottom;
}

div.addthis_toolbox addthis_default_style {
    visibility: hidden;
}

#addThisButton{
     margin-top: 10px;
}